@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0a0a0a;
  color: #d0d0d0;
  font-family: "VT323", monospace;
  line-height: 1.5;
  font-size: 1.25rem; /* or try 18px, 20px, etc. */
  display: flex;
    flex-direction: column;

}

header {
  padding: 2rem;
  border-bottom: 1px solid #222;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  letter-spacing: 0.05rem;
}

main {
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
    flex: 1;

}

section {
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #aaa;
}

p {
  margin: 0;
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.8rem;
  border-top: 1px solid #222;
  color: #555;
}

a {
  color: #16FF00;
  text-decoration: none;
}

a:hover {
  color: #FFED00;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0.5rem;
}

iframe {
  width: 100%;
  height: 700px;
  border: none;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

nav ul li a {
  color: #16FF00;
  text-decoration: none;
  text-transform: lowercase;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.service-item {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 6px;
  transition: background 0.3s;
}

.service-item:hover {
  background: #222;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe,
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.article-title {
  text-transform: uppercase;
  color: #16FF00;
  letter-spacing: 0.05em;
}

.article-link {
  color: #0F6292;
  text-decoration: none;
}

.article-body {
  max-width: 800px;
}

.post-title {
  color: #0F6292;
  font-size: 25px;
  text-decoration: none;
}
